@page
@model IndexModel
@{
    ViewData["Title"] = "Eventos Deportivos";
}



<div class="bienvenida">
    <h1 style="margin-bottom: 20px;">@ViewData["Title"]</h1>
    <img id="imagen-portada" src="resources/deportes.svg" height=400px>
</div>
